nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

nav h1 {
    font-size: 30px;
}

.nav-dark {
    color: #eee;
}

nav button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

nav .switch-dark {
    color: #eee;
}